/* Basic styling for the app */
.app-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 80vh;
  /* Adjust as needed */
}

.week-row {
  display: flex;
}

.day-card {
  border: 1px solid #ccc;
  padding: 0px;
  width: 150px;
  height: 100px;
  box-sizing: border-box;
  text-align: center;
  font-size: 8pt;
}

.day-card:not(:empty) {
  background-color: #f9f9f9;
}

.day-card div {
  margin-bottom: 5px;
}

.new-month-line {
  height: 2px;
  background-color: white;
  margin: 10px 0;
}

h1 {
  text-align: center;
}

.tasks {
  margin-top: 10px;
  font-weight: 900;
}


.calendar-container-monthview {
  margin: 20px auto;
  width: 80%;
}

.month-select-monthview {
  margin-bottom: 10px;
}

.week-row-monthview {
  display: flex;
}

.day-label-monthview {
  flex: 1;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

.calendar-grid-monthview {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day-card-monthview {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
  font-weight: 500;
}

.today-card-monthview {
  border: 2px solid rgb(0, 0, 255, 0.3);
  background-color: rgb(0, 0, 255, 0.2);
}

.day-card-monthview.empty {
  background-color: transparent;
  border: none;
  margin-bottom: 5px;
}

.day-number-monthview {
  font-weight: bold;
}

.tasks-monthview {
  margin-top: 5px;
}

.tasks-monthview .task-monthview {
  background-color: #f0f0f0;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.tasks-monthview .task-monthview input {
  width: calc(100% - 10px);
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.month-name-container-monthview {
  display: flex;
  justify-content: center;
}

.month-name-monthview {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.arrow {
  margin: 0 10px;
  font: 900 20px Arial;
}

.category-legend-item {
  font-weight: 700;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.calendar-legend-container {
  display: flex;
  align-items: center;
}

.category-legend {
  font-weight: 700;
  margin-left: 10px;
}

.calendar-page-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.show-time-button {
  margin-bottom: 50px;
  background-color: rgb(0, 128, 0, 0.7);
  padding: 10px;
}

.hide-time-button {
  margin-bottom: 50px;
  background-color: rgb(255, 0, 0, 0.7);
  padding: 10px;
}